<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link type="image/png" sizes="16x16" rel="icon"
            href="/static/images/app-icon.png">
        <link href="/static/styles/style.css" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/product-sans"
            rel="stylesheet" crossorigin="anonymous">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">
        <title>Get Weather Details</title>
    </head>
    <style>
    @import url('https://fonts.cdnfonts.com/css/product-sans');
</style>

    <body style="font-family: 'Product Sans', sans-serif;">

        <nav class="navbar navbar-dark bg-dark justify-content-center mb-2">
            <div class="navbar-brand justify-content-center">Get Weather
                Details</div>
        </nav>

        <div class="d-flex justify-content-center my-5">
            <form action="/" method="post"
                class="d-flex justify-content-center w-50">
                <input type="text" name="city" list="citynames"
                    placeholder="Enter Your City" class="form-control">
                <datalist id="citynames">
                    <option value="Abidjan">Abidjan</option>
                    <option value="Abu Dhabi">Abu Dhabi</option>
                    <option value="Abuja">Abuja</option>
                    <option value="Accra">Accra</option>
                    <option value="Addis Ababa">Addis Ababa</option>
                    <option value="Ahmedabad">Ahmedabad</option>
                    <option value="Aleppo">Aleppo</option>
                    <option value="Alexandria">Alexandria</option>
                    <option value="Algiers">Algiers</option>
                    <option value="Almaty">Almaty</option>
                    <option value="Amman">Amman</option>
                    <option value="Amsterdam">Amsterdam</option>
                    <option value="Anchorage">Anchorage</option>
                    <option value="Andorra la Vella">Andorra la Vella</option>
                    <option value="Ankara">Ankara</option>
                    <option value="Antananarivo">Antananarivo</option>
                    <option value="Apia">Apia</option>
                    <option value="Arnold">Arnold</option>
                    <option value="Ashgabat">Ashgabat</option>
                    <option value="Asmara">Asmara</option>
                    <option value="Asuncion">Asuncion</option>
                    <option value="Athens">Athens</option>
                    <option value="Auckland">Auckland</option>
                    <option value="Avarua">Avarua</option>
                    <option value="Baghdad">Baghdad</option>
                    <option value="Baku">Baku</option>
                    <option value="Bamako">Bamako</option>
                    <option value="Banda Aceh">Banda Aceh</option>
                    <option value="Bandar Seri Begawan">Bandar Seri
                        Begawan</option>
                    <option value="Bandung">Bandung</option>
                    <option value="Bangkok">Bangkok</option>
                    <option value="Bangui">Bangui</option>
                    <option value="Banjul">Banjul</option>
                    <option value="Barcelona">Barcelona</option>
                    <option value="Barranquilla">Barranquilla</option>
                    <option value="Basrah">Basrah</option>
                    <option value="Basse-Terre">Basse-Terre</option>
                    <option value="Basseterre">Basseterre</option>
                    <option value="Beijing">Beijing</option>
                    <option value="Beirut">Beirut</option>
                    <option value="Bekasi">Bekasi</option>
                    <option value="Belem">Belem</option>
                    <option value="Belgrade">Belgrade</option>
                    <option value="Belmopan">Belmopan</option>
                    <option value="Belo Horizonte">Belo Horizonte</option>
                    <option value="Bengaluru">Bengaluru</option>
                    <option value="Berlin">Berlin</option>
                    <option value="Bern">Bern</option>
                    <option value="Bishkek">Bishkek</option>
                    <option value="Bissau">Bissau</option>
                    <option value="Bogota">Bogota</option>
                    <option value="Brasilia">Brasilia</option>
                    <option value="Bratislava">Bratislava</option>
                    <option value="Brazzaville">Brazzaville</option>
                    <option value="Bridgetown">Bridgetown</option>
                    <option value="Brisbane">Brisbane</option>
                    <option value="Brussels">Brussels</option>
                    <option value="Bucharest">Bucharest</option>
                    <option value="Budapest">Budapest</option>
                    <option value="Buenos Aires">Buenos Aires</option>
                    <option value="Bujumbura">Bujumbura</option>
                    <option value="Bursa">Bursa</option>
                    <option value="Busan">Busan</option>
                    <option value="Cairo">Cairo</option>
                    <option value="Cali">Cali</option>
                    <option value="Caloocan">Caloocan</option>
                    <option value="Camayenne">Camayenne</option>
                    <option value="Canberra">Canberra</option>
                    <option value="Cape Town">Cape Town</option>
                    <option value="Caracas">Caracas</option>
                    <option value="Casablanca">Casablanca</option>
                    <option value="Castries">Castries</option>
                    <option value="Cayenne">Cayenne</option>
                    <option value="Charlotte Amalie">Charlotte Amalie</option>
                    <option value="Chengdu">Chengdu</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Chisinau">Chisinau</option>
                    <option value="Chittagong">Chittagong</option>
                    <option value="Chongqing">Chongqing</option>
                    <option value="Colombo">Colombo</option>
                    <option value="Conakry">Conakry</option>
                    <option value="Copenhagen">Copenhagen</option>
                    <option value="Cordoba">Cordoba</option>
                    <option value="Curitiba">Curitiba</option>
                    <option value="Daegu">Daegu</option>
                    <option value="Daejeon">Daejeon</option>
                    <option value="Dakar">Dakar</option>
                    <option value="Dallas">Dallas</option>
                    <option value="Damascus">Damascus</option>
                    <option value="Dar es Salaam">Dar es Salaam</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Denver">Denver</option>
                    <option value="Dhaka">Dhaka</option>
                    <option value="Dili">Dili</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dodoma">Dodoma</option>
                    <option value="Doha">Doha</option>
                    <option value="Dongguan">Dongguan</option>
                    <option value="Douala">Douala</option>
                    <option value="Douglas">Douglas</option>
                    <option value="Dubai">Dubai</option>
                    <option value="Dublin">Dublin</option>
                    <option value="Durban">Durban</option>
                    <option value="Dushanbe">Dushanbe</option>
                    <option value="Faisalabad">Faisalabad</option>
                    <option value="Fort-de-France">Fort-de-France</option>
                    <option value="Fortaleza">Fortaleza</option>
                    <option value="Freetown">Freetown</option>
                    <option value="Fukuoka">Fukuoka</option>
                    <option value="Funafuti">Funafuti</option>
                    <option value="Gaborone">Gaborone</option>
                    <option value="George Town">George Town</option>
                    <option value="Georgetown">Georgetown</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Gitega">Gitega</option>
                    <option value="Giza">Giza</option>
                    <option value="Guadalajara">Guadalajara</option>
                    <option value="Guangzhou">Guangzhou</option>
                    <option value="Guatemala City">Guatemala City</option>
                    <option value="Guayaquil">Guayaquil</option>
                    <option value="Gujranwala">Gujranwala</option>
                    <option value="Gustavia">Gustavia</option>
                    <option value="Gwangju">Gwangju</option>
                    <option value="Hamburg">Hamburg</option>
                    <option value="Hanoi">Hanoi</option>
                    <option value="Harare">Harare</option>
                    <option value="Havana">Havana</option>
                    <option value="Helsinki">Helsinki</option>
                    <option value="Ho Chi Minh City">Ho Chi Minh City</option>
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="Honiara">Honiara</option>
                    <option value="Honolulu">Honolulu</option>
                    <option value="Houston">Houston</option>
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Ibadan">Ibadan</option>
                    <option value="Incheon">Incheon</option>
                    <option value="Isfahan">Isfahan</option>
                    <option value="Islamabad">Islamabad</option>
                    <option value="Istanbul">Istanbul</option>
                    <option value="Izmir">Izmir</option>
                    <option value="Jaipur">Jaipur</option>
                    <option value="Jakarta">Jakarta</option>
                    <option value="Jeddah">Jeddah</option>
                    <option value="Jerusalem">Jerusalem</option>
                    <option value="Johannesburg">Johannesburg</option>
                    <option value="Juarez">Juarez</option>
                    <option value="Juba">Juba</option>
                    <option value="Kabul">Kabul</option>
                    <option value="Kaduna">Kaduna</option>
                    <option value="Kampala">Kampala</option>
                    <option value="Kano">Kano</option>
                    <option value="Kanpur">Kanpur</option>
                    <option value="Kaohsiung">Kaohsiung</option>
                    <option value="Karachi">Karachi</option>
                    <option value="Karaj">Karaj</option>
                    <option value="Kathmandu">Kathmandu</option>
                    <option value="Kawasaki">Kawasaki</option>
                    <option value="Kharkiv">Kharkiv</option>
                    <option value="Khartoum">Khartoum</option>
                    <option value="Khulna">Khulna</option>
                    <option value="Kigali">Kigali</option>
                    <option value="Kingsburg">Kingsburg</option>
                    <option value="Kingston">Kingston</option>
                    <option value="Kingstown">Kingstown</option>
                    <option value="Kinshasa">Kinshasa</option>
                    <option value="Kobe">Kobe</option>
                    <option value="Kolkata">Kolkata</option>
                    <option value="Kota Bharu">Kota Bharu</option>
                    <option value="Kowloon">Kowloon</option>
                    <option value="Kuala Lumpur">Kuala Lumpur</option>
                    <option value="Kumasi">Kumasi</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="Kyiv">Kyiv</option>
                    <option value="Kyoto">Kyoto</option>
                    <option value="La Paz">La Paz</option>
                    <option value="Lagos">Lagos</option>
                    <option value="Lahore">Lahore</option>
                    <option value="Libreville">Libreville</option>
                    <option value="Lilongwe">Lilongwe</option>
                    <option value="Lima">Lima</option>
                    <option value="Lisbon">Lisbon</option>
                    <option value="Ljubljana">Ljubljana</option>
                    <option value="Lome">Lome</option>
                    <option value="London">London</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Luanda">Luanda</option>
                    <option value="Lubumbashi">Lubumbashi</option>
                    <option value="Lusaka">Lusaka</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Macau">Macau</option>
                    <option value="Madrid">Madrid</option>
                    <option value="Majuro">Majuro</option>
                    <option value="Makassar">Makassar</option>
                    <option value="Malabo">Malabo</option>
                    <option value="Male">Male</option>
                    <option value="Mamoudzou">Mamoudzou</option>
                    <option value="Managua">Managua</option>
                    <option value="Manama">Manama</option>
                    <option value="Manaus">Manaus</option>
                    <option value="Manila">Manila</option>
                    <option value="Maputo">Maputo</option>
                    <option value="Maracaibo">Maracaibo</option>
                    <option value="Maracay">Maracay</option>
                    <option value="Mariehamn">Mariehamn</option>
                    <option value="Marigot">Marigot</option>
                    <option value="Maseru">Maseru</option>
                    <option value="Mashhad">Mashhad</option>
                    <option value="Mbabane">Mbabane</option>
                    <option value="Mecca">Mecca</option>
                    <option value="Medan">Medan</option>
                    <option value="Medellin">Medellin</option>
                    <option value="Medina">Medina</option>
                    <option value="Melbourne">Melbourne</option>
                    <option value="Mexico City">Mexico City</option>
                    <option value="Miami">Miami</option>
                    <option value="Minsk">Minsk</option>
                    <option value="Mogadishu">Mogadishu</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Monrovia">Monrovia</option>
                    <option value="Montevideo">Montevideo</option>
                    <option value="Montreal">Montreal</option>
                    <option value="Moroni">Moroni</option>
                    <option value="Moscow">Moscow</option>
                    <option value="Mosul">Mosul</option>
                    <option value="Multan">Multan</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Muscat">Muscat</option>
                    <option value="N'Djamena">N'Djamena</option>
                    <option value="Nagoya">Nagoya</option>
                    <option value="Nairobi">Nairobi</option>
                    <option value="Nanchong">Nanchong</option>
                    <option value="Nanjing">Nanjing</option>
                    <option value="Nassau">Nassau</option>
                    <option value="Nay Pyi Taw">Nay Pyi Taw</option>
                    <option value="New York">New York</option>
                    <option value="Niamey">Niamey</option>
                    <option value="Nicosia">Nicosia</option>
                    <option value="Nouakchott">Nouakchott</option>
                    <option value="Noumea">Noumea</option>
                    <option value="Novosibirsk">Novosibirsk</option>
                    <option value="Nuku'alofa">Nuku'alofa</option>
                    <option value="Nur-Sultan">Nur-Sultan</option>
                    <option value="Nuuk">Nuuk</option>
                    <option value="Oranjestad">Oranjestad</option>
                    <option value="Osaka">Osaka</option>
                    <option value="Oslo">Oslo</option>
                    <option value="Ottawa">Ottawa</option>
                    <option value="Ouagadougou">Ouagadougou</option>
                    <option value="Pago Pago">Pago Pago</option>
                    <option value="Palembang">Palembang</option>
                    <option value="Palo Alto">Palo Alto</option>
                    <option value="Panama">Panama</option>
                    <option value="Papeete">Papeete</option>
                    <option value="Paramaribo">Paramaribo</option>
                    <option value="Paris">Paris</option>
                    <option value="Perth">Perth</option>
                    <option value="Philadelphia">Philadelphia</option>
                    <option value="Phnom Penh">Phnom Penh</option>
                    <option value="Phoenix">Phoenix</option>
                    <option value="Podgorica">Podgorica</option>
                    <option value="Port Louis">Port Louis</option>
                    <option value="Port Moresby">Port Moresby</option>
                    <option value="Port of Spain">Port of Spain</option>
                    <option value="Port-Vila">Port-Vila</option>
                    <option value="Port-au-Prince">Port-au-Prince</option>
                    <option value="Porto Alegre">Porto Alegre</option>
                    <option value="Porto-Novo">Porto-Novo</option>
                    <option value="Prague">Prague</option>
                    <option value="Praia">Praia</option>
                    <option value="Pretoria">Pretoria</option>
                    <option value="Pristina">Pristina</option>
                    <option value="Puebla">Puebla</option>
                    <option value="Pune">Pune</option>
                    <option value="Pyongyang">Pyongyang</option>
                    <option value="Quezon City">Quezon City</option>
                    <option value="Quito">Quito</option>
                    <option value="Rabat">Rabat</option>
                    <option value="Rawalpindi">Rawalpindi</option>
                    <option value="Recife">Recife</option>
                    <option value="Reykjavik">Reykjavik</option>
                    <option value="Riga">Riga</option>
                    <option value="Rio de Janeiro">Rio de Janeiro</option>
                    <option value="Riyadh">Riyadh</option>
                    <option value="Road Town">Road Town</option>
                    <option value="Rome">Rome</option>
                    <option value="Roseau">Roseau</option>
                    <option value="Saint George's">Saint George's</option>
                    <option value="Saint Helier">Saint Helier</option>
                    <option value="Saint John's">Saint John's</option>
                    <option value="Saint Peter Port">Saint Peter Port</option>
                    <option value="Saint Petersburg">Saint Petersburg</option>
                    <option value="Saint-Denis">Saint-Denis</option>
                    <option value="Saint-Pierre">Saint-Pierre</option>
                    <option value="Saipan">Saipan</option>
                    <option value="Salvador">Salvador</option>
                    <option value="San Antonio">San Antonio</option>
                    <option value="San Diego">San Diego</option>
                    <option value="San Francisco">San Francisco</option>
                    <option value="San Jose">San Jose</option>
                    <option value="San Juan">San Juan</option>
                    <option value="San Marino">San Marino</option>
                    <option value="San Salvador">San Salvador</option>
                    <option value="Sanaa">Sanaa</option>
                    <option value="Santa Cruz de la Sierra">Santa Cruz de la
                        Sierra</option>
                    <option value="Santiago">Santiago</option>
                    <option value="Santo Domingo">Santo Domingo</option>
                    <option value="Sao Paulo">Sao Paulo</option>
                    <option value="Sao Tome">Sao Tome</option>
                    <option value="Sapporo">Sapporo</option>
                    <option value="Sarajevo">Sarajevo</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Semarang">Semarang</option>
                    <option value="Seoul">Seoul</option>
                    <option value="Shanghai">Shanghai</option>
                    <option value="Sharjah">Sharjah</option>
                    <option value="Shenzhen">Shenzhen</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Skopje">Skopje</option>
                    <option value="Sofia">Sofia</option>
                    <option value="South Tangerang">South Tangerang</option>
                    <option value="Soweto">Soweto</option>
                    <option value="Stockholm">Stockholm</option>
                    <option value="Sucre">Sucre</option>
                    <option value="Surabaya">Surabaya</option>
                    <option value="Surat">Surat</option>
                    <option value="Suva">Suva</option>
                    <option value="Sydney">Sydney</option>
                    <option value="Tabriz">Tabriz</option>
                    <option value="Taipei">Taipei</option>
                    <option value="Tallinn">Tallinn</option>
                    <option value="Tangerang">Tangerang</option>
                    <option value="Tarawa">Tarawa</option>
                    <option value="Tashkent">Tashkent</option>
                    <option value="Tbilisi">Tbilisi</option>
                    <option value="Tegucigalpa">Tegucigalpa</option>
                    <option value="Tehran">Tehran</option>
                    <option value="Tel Aviv">Tel Aviv</option>
                    <option value="Thimphu">Thimphu</option>
                    <option value="Tianjin">Tianjin</option>
                    <option value="Tijuana">Tijuana</option>
                    <option value="Tirana">Tirana</option>
                    <option value="Tokyo">Tokyo</option>
                    <option value="Toronto">Toronto</option>
                    <option value="Torshavn">Torshavn</option>
                    <option value="Tripoli">Tripoli</option>
                    <option value="Tunis">Tunis</option>
                    <option value="Ulan Bator">Ulan Bator</option>
                    <option value="Vaduz">Vaduz</option>
                    <option value="Valencia">Valencia</option>
                    <option value="Valletta">Valletta</option>
                    <option value="Vancouver">Vancouver</option>
                    <option value="Victoria">Victoria</option>
                    <option value="Vienna">Vienna</option>
                    <option value="Vientiane">Vientiane</option>
                    <option value="Vilnius">Vilnius</option>
                    <option value="Warsaw">Warsaw</option>
                    <option value="Washington">Washington</option>
                    <option value="Wellington">Wellington</option>
                    <option value="Willemstad">Willemstad</option>
                    <option value="Windhoek">Windhoek</option>
                    <option value="Wuhan">Wuhan</option>
                    <option value="Xi'an">Xi'an</option>
                    <option value="Yamoussoukro">Yamoussoukro</option>
                    <option value="Yangon">Yangon</option>
                    <option value="Yaounde">Yaounde</option>
                    <option value="Yekaterinburg">Yekaterinburg</option>
                    <option value="Yerevan">Yerevan</option>
                    <option value="Yokohama">Yokohama</option>
                    <option value="Zagreb">Zagreb</option>
                </datalist>
                <input type="submit" class="btn btn-success">
            </form>
        </div>
        <div class="d-flex justify-content-center my-5">
            <img src="/static/images/globe.gif" class="globe">
        </div>
    </body>

</html>
